<div class="left-menu">
    <a href="#" class="close-menu"><img src="/img/close.svg" onclick="closeMenu()"></a>
    <h2>Dashboard</h2>
    <div class="icons-wrapper">
        <a href="/dashboard/berichten" class="berichten active">
            <svg width="45px" height="45px" viewBox="0 0 45 45">
                <g id="Page-1" class="dashboard-illustration" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Dashboard" transform="translate(-118.000000, -167.000000)">
                        <path
                            d="M133.750807,190.555507 C133.750807,191.891715 132.742792,192.976174 131.500774,192.976174 C130.258756,192.976174 129.250741,191.891715 129.250741,190.555507 C129.250741,189.219299 130.258756,188.134841 131.500774,188.134841 C132.742792,188.134841 133.750807,189.219299 133.750807,190.555507 M151.75107,190.555507 C151.75107,191.891715 150.743055,192.976174 149.501037,192.976174 C148.259019,192.976174 147.251004,191.891715 147.251004,190.555507 C147.251004,189.219299 148.259019,188.134841 149.501037,188.134841 C150.743055,188.134841 151.75107,189.219299 151.75107,190.555507 M142.750938,190.555507 C142.750938,191.891715 141.742924,192.976174 140.500906,192.976174 C139.258887,192.976174 138.250873,191.891715 138.250873,190.555507 C138.250873,189.219299 139.258887,188.134841 140.500906,188.134841 C141.742924,188.134841 142.750938,189.219299 142.750938,190.555507 M158.152413,191.134047 C157.2614,194.128411 154.52086,196.048 151.598068,196.048 L151.555317,196.048 L144.087458,196.048 C142.928691,196.048 141.812675,196.529713 140.975663,197.39147 L133.404302,205.190858 C132.688792,205.926741 131.500774,205.382091 131.500774,204.316997 L131.500774,198.468667 C131.500774,197.132459 130.49276,196.048 129.250741,196.048 C127.286463,196.048 125.850942,196.253757 124.275919,194.992589 C123.434406,194.319644 122.813397,193.36106 122.595144,192.211243 C122.376891,191.056585 122.545643,189.960023 122.98665,189.035329 C124.228668,186.423429 127.439465,185.428535 129.783999,187.432847 C127.504716,179.359924 133.2738,171.841333 140.500906,171.841333 C146.017986,171.841333 150.520302,176.188851 151.526067,181.548207 C151.564317,181.548207 151.600318,181.540945 151.638568,181.536103 C151.674569,181.531262 151.712819,181.524 151.75107,181.524 C156.014882,181.524 159.664435,186.050647 158.152413,191.134047 M155.004617,177.258785 C154.991117,177.253944 154.982117,177.246682 154.973117,177.23942 C154.964117,177.229737 154.957367,177.220055 154.952867,177.207951 C152.518331,171.17565 146.94725,167 140.500906,167 C132.490789,167 125.893692,173.436553 124.894678,181.758805 C124.892428,181.77817 124.885678,181.795115 124.874427,181.807218 C124.863177,181.821742 124.847427,181.831425 124.831677,181.836266 C120.545364,182.983662 117.467319,187.401379 118.077078,192.494461 C118.585586,196.730628 121.818883,200.07841 125.985944,200.741673 C126.557452,200.833658 127.000709,201.322633 127.000709,201.944744 L127.000709,207.149177 C127.000709,211.462805 131.847279,213.62204 134.682321,210.572 L143.023192,201.598589 C143.446199,201.145924 144.017707,200.889333 144.613966,200.889333 L151.233562,200.889333 C157.164649,200.889333 162.456726,196.198081 162.958484,189.83899 C163.41974,184.005183 159.99069,178.887894 155.004617,177.258785"
                            id="cloud_message-[#1566]"></path>
                    </g>
                </g>
            </svg>
            <p>berichten</p>
        </a>
        <a href="/dashboard/gegevens" class="gegevens">
            <svg width="45px" height="45px" viewBox="0 0 45 45">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Dashboard" class="dashboard-illustration" transform="translate(-118.000000, -365.000000)">
                        <path
                            d="M163,371.75 L163,376.25 L156.25,376.25 L156.25,383 L151.75,383 L151.75,376.25 L145,376.25 L145,371.75 L151.75,371.75 L151.75,365 L156.25,365 L156.25,371.75 L163,371.75 Z M123.202,405.5 C124.98175,400.17425 129.9925,396.32 135.9055,396.2795 C135.937,396.2795 135.96625,396.2885 136,396.2885 C136.03375,396.2885 136.063,396.2795 136.0945,396.2795 C142.00975,396.32 147.02275,400.172 148.8025,405.5 L123.202,405.5 Z M136,382.7885 C138.48175,382.7885 140.5,384.80675 140.5,387.2885 C140.5,389.73875 138.53125,391.72775 136.0945,391.7795 C136.063,391.7795 136.0315,391.775 136,391.775 C135.9685,391.775 135.937,391.7795 135.9055,391.7795 C133.46875,391.72775 131.5,389.73875 131.5,387.2885 C131.5,384.80675 133.51825,382.7885 136,382.7885 L136,382.7885 Z M142.8085,393.11375 C144.15625,391.541 145,389.52275 145,387.2885 C145,382.31825 140.97025,378.2885 136,378.2885 C131.02975,378.2885 127,382.31825 127,387.2885 C127,389.52275 127.84375,391.541 129.1915,393.11375 C122.62825,395.7935 118,402.22175 118,409.7525 C118,409.8425 118.054,410 118.054,410 L153.9865,410 C154.486,404.5235 150.769,396.36725 142.8085,393.11375 L142.8085,393.11375 Z"
                            id="profile_plus-[#1357]"></path>
                    </g>
                </g>
            </svg>
            <p>gegevens</p>
        </a>
        <a href="/dashboard/contact" class="contact">
            <svg width="34px" height="45px" viewBox="0 0 34 45">
                <g id="Page-1" class="dashboard-illustration" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Dashboard" transform="translate(-123.000000, -563.000000)">
                        <path
                            d="M152.466667,563 L138.866667,563 C136.362,563 134.333333,565.01375 134.333333,567.5 L134.333333,569.75 C134.333333,570.992 135.3488,572 136.6,572 C137.8512,572 138.866667,570.992 138.866667,569.75 C138.866667,568.508 139.882133,567.5 141.133333,567.5 L150.2,567.5 C151.4512,567.5 152.466667,568.508 152.466667,569.75 L152.466667,587.75 C152.466667,588.992 151.4512,590 150.2,590 C148.9488,590 147.933333,591.008 147.933333,592.25 C147.933333,593.492 148.9488,594.5 150.2,594.5 L152.466667,594.5 C154.971333,594.5 157,592.48625 157,590 L157,567.5 C157,565.01375 154.971333,563 152.466667,563 M141.133333,601.25 L141.133333,581 C141.133333,579.758 140.117867,578.75 138.866667,578.75 L129.8,578.75 C128.5488,578.75 127.533333,579.758 127.533333,581 L127.533333,601.25 C127.533333,602.492 128.5488,603.5 129.8,603.5 L138.866667,603.5 C140.117867,603.5 141.133333,602.492 141.133333,601.25 M127.533333,574.25 L141.133333,574.25 C143.638,574.25 145.666667,576.26375 145.666667,578.75 L145.666667,603.5 C145.666667,605.98625 143.638,608 141.133333,608 L127.533333,608 C125.028667,608 123,605.98625 123,603.5 L123,578.75 C123,576.26375 125.028667,574.25 127.533333,574.25 M136.6952,596.75 L136.6952,596.75 C136.6952,597.992 135.679733,599 134.428533,599 C133.175067,599 132.161867,597.992 132.161867,596.75 C132.161867,595.508 133.175067,594.5 134.428533,594.5 C135.679733,594.5 136.6952,595.508 136.6952,596.75"
                            id="phone_phone-[#205]"></path>
                    </g>
                </g>
            </svg>
            <p>contact</p>
        </a>
        <a href="/auth/logout" class="logout">
            <p>uitloggen</p>
        </a>
    </div>
</div>