<div class="dashboard-content">
    <h1>Mijn Berichten</h1>
    <div class="messages-wrapper">
        <div class="messages-cta">
            <h2>nieuw bericht</h2>
            <a href="/dashboard/berichten/nieuw-videobericht" class="btn-basic">nieuwe videoboodschap</a>
            <a href="/dashboard/berichten/nieuw-audiobericht" class="btn-basic">nieuwe audioboodschap</a>
        </div>
        <div class="planned-messages">
            <h2>reeds ingepland</h2>
            <p>Je hebt nog geen boodschappen ingepland</p>
        </div>
    </div>
</div>