<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col m6">
                <h1>Lorem ipsum dolor sit amet consectetur.</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ipsa ipsum illo odit nobis repellat? Repudiandae unde expedita nam exercitationem reprehenderit aliquam consequatur nesciunt voluptas, mollitia dignissimos. A, cumque inventore.</p>
                <a href="/aanmelden" class="waves-effect waves-light btn light-blue darken-4"><i class="fas fa-user-plus"></i> Maak een account</a>
            </div>
            <div class="col m6">
                <img src="/img/hero-img.svg">
            </div>
        </div>
    </div>
</section>