<div class="dashboard-content">
    <h1>Nieuwe video</h1>
    <div class="video-container">
        <div class="recording-video">
            <video src="" muted="muted"></video>
            <button id="btnStart">start recording</button>
            <button id="btnStop">stop recording</button>
        </div>
        <div class="save-video">
            <video id="vid2" controls></video>
        </div>
    </div>
</div>